.mx-datepicker {
    width: 100% !important;
}

.mx-input {
    height: 32px !important;
    border-radius: 2px !important;
    /* border: 1px solid #babec5 !important; */
}

.mx-input:hover {
    border: 1px solid #babec5 !important;
}

.mx-input:placeholder-shown {
    font-size: 12px !important;
    font-family: notosans italic !important;
}

.mx-input:focus {
    border-color: #2ca01c !important;
}

.mx-datepicker svg {
    cursor: pointer;
}

.mx-input:disabled {
    color: rgb(0, 0, 0) !important;
}

.mx-input {
    color: rgb(0, 0, 0) !important;
    font-size: 13px;
}