/* css dialog */

.m-dialog {
    display: none;
}


/* Phần header =============================================*/

.dialog {
    position: absolute;
    background-color: #ffffff;
    z-index: 1003;
    width: 900px;
    top: calc(50% - 301px);
    left: calc(50% - 450px);
    border-radius: 2px;
}

.dialog-header {
    display: flex;
}

.dialog-header .dialog-title {
    display: flex;
    padding: 20px 12px 20px 32px;
    align-items: center;
    flex: 1;
}

.dialog-title .text-title {
    font-size: 24px;
    font-family: notosans bold;
}

.dialog-title .list-checkbox {
    display: flex;
    align-items: center;
    padding: 0 19.5px;
}

.dialog-title .list-checkbox .checkbox-content {
    padding-left: 10px;
    cursor: pointer;
}

.dialog-header .dialog-close {
    display: flex;
    width: 77px;
    height: 49px;
    padding: 12px;
}

.dialog-close .icon-help {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    cursor: pointer;
}

.dialog-close .icon-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


/* Phần nội dung của dialog  =============================================*/

.dialog-content {
    padding: 0 32px 0 32px;
}

.text-input {
    font-size: 12px;
    font-family: notosans bold;
    padding-bottom: 4px;
}

.dialog-content .top-content {
    display: flex;
    width: 100%;
}


/* content left */

.content-left span {
    color: red;
}

.dialog-content .top-content .content-left {
    width: 418px;
    padding-right: 26px;
}

.content-left .input-id-name {
    display: flex;
}

.input-id {
    width: 150.8px;
    padding-right: 6px;
    flex: 1;
}

.input-name {
    width: calc(100% - 156.8px);
}


/* content right */

.dialog-content .top-content .content-right {
    width: 418px;
}

.content-right .input-date-gender {
    display: flex;
}

.content-right .input-date-gender .input-date {
    width: 161.19px;
    padding-right: 6px;
}

.content-right .input-date-gender .input-gender {
    width: calc(100% - 167.19px);
}

.input-gender .list-gender {
    height: 18px;
    display: flex;
    padding: 5px 0 6px 10px;
    /* align-items: center; */
}


/* ======================***========================== */

.list-gender .label-gender {
    margin-right: 16px;
    cursor: pointer;
}

.input-identify-date {
    display: flex;
}

.input-identify-date .input-identify {
    width: 244.8px;
    padding-right: 6px;
}

.input-identify-date .input-identify .input-date-range {
    width: calc(100% - 250.8px);
}

.top-content .content-left>div,
.top-content .content-right>div {
    padding-bottom: 12px;
}


/* phần bottom content */

.content-bottom {
    padding-top: 32px;
}

.content-bottom>div {
    padding-bottom: 12px;
}

.content-bottom>div:not(:first-child) {
    display: flex;
}

.content-bottom .within-content-bot>div {
    padding-right: 6px;
    width: 197px;
}


/* Dấu gạch ngang phân cách content và bottom dialog */

.divide {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin: 32px 0 20px;
    position: relative;
}


/* phần bottom dialog  =============================================*/

.dialog-bottom {
    position: relative;
    height: 52px;
    padding: 0 32px 20px 32px;
}

.dialog-bottom,
.dialog-bottom>div {
    display: flex;
}

.dialog-bottom .dialog-bot-right {
    position: absolute;
    right: 32px;
}


/* hiển thị dialog */

.m-dialog-show {
    display: block !important;
}


/* custom radio in dialog supplier detail */

.display-flex {
    display: flex;
}


/* right */

.list-radio {
    display: flex;
    padding: 5px 0 4px 15px;
    /* align-items: center; */
}

.list-radio .label-radio {
    margin-right: 20px;
    cursor: pointer;
}


/* left */


/* content bot */

.con-slot-tabs {
    width: 100%;
    border: 1px solid #babec5;
    padding: 10px 8px;
    padding-bottom: 60px !important;
}

.content-overflow {
    overflow: hidden;
    overflow-y: auto;
    height: 438px;
}

div.content-overflow::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}

div.content-overflow::-webkit-scrollbar-thumb {
    background-color: #a8afb6;
}

div.content-overflow::-webkit-scrollbar-thumb:hover {
    background-color: #7b7d80;
}


/* dialog account */

.dialog-account {
    position: absolute;
    background-color: #ffffff;
    z-index: 1003;
    width: 800px;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
}

.dialog-title .text-title-account {
    font-size: 24px;
    font-family: notosans;
    color: #212121;
    font-weight: 600;
}

.h-content-account {
    height: calc(100vh - (52px + 65px));
}

.follow-detail {
    font-size: 18px;
    display: block;
    padding: 20px 0px 10px 0px;
    position: relative;
    transition: all .2s ease-out;
    color: inherit;
    display: flex;
    align-items: center;
}

.follow-detail .text-follow-detail {
    font-size: 16px;
}

.text-follow-detail:hover {
    color: #2ea11e;
    cursor: pointer;
}

.content-account-overflow {
    overflow: hidden;
    overflow-y: auto;
}

div.content-account-overflow::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}

div.content-account-overflow::-webkit-scrollbar-thumb {
    background-color: #a8afb6;
}

div.content-account-overflow::-webkit-scrollbar-thumb:hover {
    background-color: #7b7d80;
}

.text-input span {
    color: red;
}


/* resize */

.resize {
    width: 12px;
    height: 50px;
    background: #fff;
    border: 1px solid #d4d7dc;
    border-radius: 8px;
    position: absolute;
    align-items: center;
    left: -6px;
    top: 43%;
    z-index: 99;
    display: flex;
}

.resize:hover {
    cursor: pointer;
}

.resize-click {
    width: 99%;
    transition: width .7s;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
    transition: transform .5s;
}