/* css phần content */

.content {
    height: calc(100vh - 48px);
    width: calc(100% - 198.73px);
    padding-right: 20px;
    padding-top: 24px;
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    /* overflow: auto; */
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}


/* trang payment */

.content-payment {
    height: calc(100vh - 112px);
    width: 100%;
    padding-top: 24px;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

.filter-item--default {
    display: inline-block;
    margin-right: 10px;
    color: #111;
    white-space: nowrap;
    padding-left: 12px;
    line-height: 36px;
}


/* header content */

.header-content {
    position: sticky;
    left: 0;
    display: flex;
}

.header-content .title-content span {
    font-size: 24px;
    font-family: notosans bold;
}

.header-content .title-content {
    flex: 1;
}

.header-content .button-content {
    display: flex;
}


/* filter */

.filter {
    position: sticky;
    left: 0;
    display: flex;
    height: 68px;
    margin-top: 20px;
    padding: 16px;
    box-sizing: border-box;
    justify-content: flex-end;
    background-color: #ffffff;
}

.button-left {
    position: absolute;
    display: flex;
    left: 20px;
}

.icon-load {
    width: 32px;
    height: 24px;
    padding: 0 6px;
    align-self: center;
    margin: 0 8px;
    cursor: pointer;
}

.icon-excel {
    width: 32px;
    height: 24px;
    padding: 0 6px;
    align-self: center;
    margin: 0 2px;
    cursor: pointer;
}


/* table */

.m-table {
    /* display: flex; */
    top: 100px;
    background-color: #ffffff;
    /* padding-left: 20px; */
    height: auto;
    /* height: calc(100vh - 274px); */
}


/* .content .m-table::-webkit-scrollbar {
    position: -webkit-sticky;
    bottom: 0;
} */


/* paging */


/* *******************************SCROLL********************************* */


/* scroll content */

div.content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
}

div.content::-webkit-scrollbar-thumb {
    background-color: #a8afb6;
}

div.content::-webkit-scrollbar-thumb:hover {
    background-color: #7b7d80;
}


/* scroll content payment*/

div.content-payment::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
}

div.content-payment::-webkit-scrollbar-thumb {
    background-color: #a8afb6;
}

div.content-payment::-webkit-scrollbar-thumb:hover {
    background-color: #7b7d80;
}


/******************************** content tab monney  ******************************************/

.p-top-14 {
    padding-top: 14px !important;
}

.ul-tabs {
    position: sticky;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #f4f5f8;
    border-bottom: 1px solid #d4d7dc;
    background-color: #f8f8f8;
}

.ms-labels {
    padding: 15px 20px 12px 20px;
    text-align: center;
    color: #111111;
    background-color: #f8f8f8;
}

.ms-labels:hover {
    color: #2ca01c;
}