.m-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111;
    opacity: .5;
    z-index: 1002;
}

.none {
    display: none;
}

.w-1\/2 {
    width: 50%;
}

.w-1\2 {
    width: 50%;
}

.w-256 {
    width: 256px;
}

.w-418 {
    width: 418px !important;
}

.w-100per {
    width: 100%;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-20per {
    margin-right: 20%;
}

.w-188 {
    width: 188px !important;
}

.w-1\/3 {
    width: 33.33333%!important;
}

.w-2\/3 {
    width: 66.66666%!important;
}

.w-10 {
    width: 10px;
}

.w-225 {
    width: 225px;
}

.w-250 {
    width: 250px;
}

.w-100 {
    width: 100px !important;
}

.w-120 {
    width: 120px !important;
}

.w-110 {
    width: 110px;
}

.w-20 {
    width: 20px;
}

.w-30 {
    width: 20px;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px !important;
}

.w-150 {
    width: 150px !important;
}

.w-250 {
    width: 250px !important;
}

.w-300 {
    width: 300px !important;
}

.w-350 {
    width: 350px;
}

.w-143 {
    width: 143px;
}

.m-w-895 {
    width: 895px;
}

.m-w-120 {
    min-width: 120px;
}

.m-w-100 {
    min-width: 100px;
}

.m-w-250 {
    min-width: 250px;
}

.m-w-300 {
    min-width: 300px;
}

.m-w-10 {
    min-width: 10px;
}

.m-w-225 {
    min-width: 225px;
}

.m-w-250 {
    min-width: 250px;
}

.m-w-100 {
    min-width: 100px;
}

.m-w-120 {
    min-width: 120px;
}

.m-w-110 {
    min-width: 110px;
}

.m-w-30 {
    min-width: 30px;
}

.m-w-20 {
    min-width: 20px;
}

.pr-2 {
    padding-right: 0.5rem!important;
}

.m-0 {
    margin: 0 !important;
}

.m-r-12 {
    margin-right: 12px;
}

.m-r-16 {
    margin-right: 16px;
}

.m-l-100 {
    margin-left: 100px !important;
}

.m-l-24 {
    margin-left: 24px;
}

.p-r-12 {
    padding-right: 12px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-12 {
    padding-left: 12px;
}

.p-l-24 {
    padding-left: 24px;
}

.m-6-8 {
    margin: 6px 8px;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-r-26 {
    padding-right: 26px !important;
}

.p-l-5 {
    padding-left: 5px;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-12 {
    padding-top: 12px !important;
}

.p-t-16 {
    padding-top: 16px !important;
}

.p-r-16 {
    padding-right: 16px !important;
}

.m-r-8 {
    margin-right: 8px !important;
}

.p-l-16 {
    padding-left: 16px !important;
}

.p-b-16 {
    padding-bottom: 16px !important;
}

.p-b-6 {
    padding-bottom: 6px !important;
}

.p-b-12 {
    padding-bottom: 12px !important;
}

.p-none {
    padding: 0 !important;
}

.p-0-10-10 {
    padding: 0 10px 10px;
}

.p-0-10 {
    padding: 0 10px !important;
}

.pb-2 {
    padding-bottom: 0.5rem!important;
}

.t-0 {
    top: 0 !important;
}

.display-flex {
    display: flex;
}

.h-100vh {
    height: 100vh !important;
}

.flex-1 {
    flex: 1;
}

.w-50per {
    width: 50%;
}

.w-80per {
    width: 80%;
}

.w-20per {
    width: 20%;
}

.w-75per {
    width: 75%;
}

.w-25per {
    width: 25%;
}

.w-43per {
    width: 43%;
}

.w-57per {
    width: 57%;
}

.align-center {
    align-items: center;
}

.d-grid {
    display: grid;
}

label {
    cursor: pointer;
}

.bgc-white {
    background-color: #ffffff;
}

.color-white {
    color: #ffffff !important;
}

.ps-relative {
    position: relative;
}

.bgc-grey {
    background-color: #f3f8f8 !important;
}

.no-wrap {
    white-space: nowrap;
}


/* nhập text bên phải */

.text-right {
    text-align: right !important;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center !important;
}

.bgc-f8f8f8 {
    background-color: #eff0f2;
}

.l--600 {
    left: -600px !important;
}

.color-0075c0 {
    color: #0075c0;
}

.ps-unset {
    position: unset !important;
}

.w-408 {
    width: 408px;
}